.box-section{
width: 100vw;
height: 87vh;
background-color: #f3f3f6;
display: flex;
flex-direction: column;
align-items: center;

}
.box1{
  width: 100%;
  max-width: 700px;
  height: fit-content;

  margin-top: 8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box1 h1{
  font-size: 1.25rem;
  color: #001c64;
  font-weight: 700;
  text-align: center;
}
.box1 h2{
  font-size: 3.815rem;


  text-align: center;
  color: #001c64;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.04rem;
}

.box1 .h5{
  margin-top: 2rem;
}

.box2{
  width: 100%;
   max-width: 1100px;
  height: fit-content;
 display: grid;
 grid-template-columns: auto auto;
justify-content: center;
 background-color:white;
 column-gap: 20px;
 box-shadow: 0 4px 10px rgba(0,0,0,0.1);
 margin-top: 2.5rem;
 padding-top: 2rem;
 padding-right: 2rem;
 padding-left:2rem ;
 padding-bottom: 2rem;
 border-radius: 1.5rem;
}

.box2a{

border: 3px solid #0070e0;
height: 100%;

padding-top: 2rem;
padding-left: 2rem;
padding-right: 2rem;
border-radius: 25px;
padding-bottom: 8rem;
background-color: #f3f3f6;

}

.box2b{

border: 3px solid #0070e0;
height: 100%;

padding-top: 2rem;
padding-left: 2rem;
padding-right: 2rem;
border-radius: 25px;
background-color: #f3f3f6;

}


.label1{
  font-size: 2.5rem;
  color: #001c64;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1.2rem;
 
}
.label1  input[type="radio"]{
accent-color: #0070e0;
transform: scale(2.0);

}

.box2a .p1{
  margin-top: 1rem;
  color: #001435;
  font-size: 1rem;
  font-weight: 500;

  width: 90%;
}

.label2{
  display: flex;
  align-items: center;
  margin-top: 1rem;
  color: #001435;

  width: 85%;
}

.label2 input[type="checkbox"]{
    appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 25px;
  height: 20px;
 
  border-radius: 50%; 
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: rgba(209,229,249,0.9);
  margin-left: -0.1rem;
}

 .label2 input[type="checkbox"]:checked::after {
  content: "✔";
  color: #0070e0;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 3px;
}

.label2 p{
  margin-left: 1rem;
}
.label3{
  margin-top: 1rem;
  color: #001435;
  width: 60%;
 
}

.label3 input[type="checkbox"]{
     appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 20px;
  height: 20px;
 
  border-radius: 50%; 
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: rgba(209,229,249,0.9);
  margin-left: -0.1rem;
}

 .label3 input[type="checkbox"]:checked::after {
  content: "✔";
  color: #0070e0;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 3px;
}


.label3 p{
margin-left: 1rem;
}





.box2b .p4{
  margin-top: 1rem;
  color: #001435;
  font-size: 1rem;
  font-weight: 500;
  
  width: 90%;
}

.label4{
  margin-top: 1rem;
  width:80% ;
  color: #001435;

}

.label4 input[type="checkbox"]{
     appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 30px;
  height: 20px;
 
  border-radius: 50%; 
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: rgba(209,229,249,0.9);
  margin-left: -0.1rem;
}

 .label4 input[type="checkbox"]:checked::after {
  content: "✔";
  color: #0070e0;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 3px;
}

.label4 p{
  margin-left: 1rem;
}


.label5{
  margin-top: 1rem;
  color: #001435;
 
  width: 80%;
}

.label5 input[type="checkbox"]{
     appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 30px;
  height: 20px;
 
  border-radius: 50%; 
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: rgba(209,229,249,0.9);
  margin-left: -0.1rem;
}

 .label5 input[type="checkbox"]:checked::after {
  content: "✔";
  color: #0070e0;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 3px;
}

.label5 p{
  margin-left: 1rem;
}

.label6{
  margin-top: 1rem;
  color: #001435;
 
 
  width: 80%;
}

.label6 input[type="checkbox"]{
     appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 20px;
  height: 20px;
 
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: rgba(209,229,249,0.9);
  margin-left: -0.1rem;
}

 .label6 input[type="checkbox"]:checked::after {
  content: "✔";
  color: #0070e0;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 3px;
}

.label6 p{
  margin-left: 1rem;
}


.center-button {
  grid-column: 1 / 3; /* Spans across both columns */
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  margin-bottom: 2.0rem;
 
}

.signup-button {
  background-color: #003087;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.875rem 1.7rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #0070e0;
}


.more{
  margin-top: 1rem;
  font-weight: 700;
  color: #0070e0;
  display: none;
}

.long-button{
  display:none;
 
  justify-content: center;
  margin-top: 4rem;
  height: fit-content;
  width: 100%;
  background-color: white;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.long-button button{
   background-color: #003087;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.875rem;
  border-radius: 2rem;
  width: 95%;
  border: none;
  transition: background-color 0.3s ease;
}

.long-button button:hover{
  background-color: #0070e0;
}