@media screen and (max-width:854px){
 .hero1{
  width: 850px;
 }
 
  .hero2 .button{
    left: 180px !important;
    top: 320px !important;
  }
  .safe-security{
    height: 110vh !important;
  }
  .safe-security .img-person{
  width: 95vw !important;
  }
 .withdraw-container{


 }
 .payment-section h1{
  font-size: 38px !important;
  margin-left: 55px !important;
  width: 600px !important;
 
}
  .withdraw1{
    width: 380px !important;
    height: 250px !important;
  
  }
  .withdraw2{
    width: 380px !important;
    height: 250px !important;
  }
  .withdraw1 h3{
margin-left: 30px ;
  }
  .withdraw1 p{
margin-left: 30px ;
  }
    .withdraw2 h3{
margin-left: 30px ;
  }
  .withdraw2 p{
margin-left: 30px ;
  }
  .withdraw1 button{
    margin-left: 30px;
  }
   .withdraw2 button{
    margin-left: 30px;
  }
  .Join-millions{
    width: 850px;
  }
  .discover2{
width: 380px !important;
height: 80px !important;
}
.discover3{
width: 380px !important;
height: 80px !important;
}
.discover4{
width: 380px !important;
height: 80px !important;
}
.discover5{
width: 380px !important;
height: 80px !important;
}
.discover1{
  padding-left: 95px !important;
 
}
.footer-wording{
  width: 778px !important;
}
hr{
  display: block;
  width: 775px !important;
}
.footer-wording2{
  display: grid !important;
  grid-template-columns: auto auto !important;
  
}
.wording3{

  width: 450px;
}
.wording4{

  margin-left: -57px !important;
}
}


@media screen and (max-width:820px) {
  .hero1{
  width: 820px;
 }
   .hero2 .button{
    left: 160px !important;
    top: 320px !important;
  }
  .simplified2{
  margin-top: 350px !important;
  }
   .discover2{
width: 360px !important;
height: 80px !important;
}
.discover3{
width: 360px !important;
height: 80px !important;
}
.discover4{
width: 360px !important;
height: 80px !important;
}
.discover5{
width: 360px !important;
height: 80px !important;
}
.discover1{
  padding-left: 116px !important;
 
}
.Join-millions{
    width: 800px;
  }
  .footer-wording{
    width: 740px !important;
  }
  .footer-wording2{
    grid-template-columns: auto !important;
    width: 740px !important;
  }
  .wording4{
    margin-left: 0px !important;
  }
  .copyright{
    display:  block !important;
  }
  .footer{
    height: 40vh !important;
  }
  hr{
    width: 735px !important;
  }
}

@media screen and (max-width:768px) {
   .hero1{
  width: 760px;
 }
   .hero2 .button{
    left: 140px !important;
    top: 300px !important;
  }
  .payment-grids .grid3{
  height: 400px !important;
  width: 340px !important;
}
.payment-grids .grid4{
   height: 400px !important;
  width: 340px !important;
}
.payment-section{
  height: 520px !important;
}
  .simplified2{
  margin-top: 370px !important;
  }
  .safe-security{
    height: 130vh !important;
  }
  .withdraw-container{

  height: 60vh !important;

}
  .withdraw1{
  width: 360px !important;
  height: 300px !important;
}
.withdraw2{
  width: 360px !important;
  height: 300px !important;
}
.withdraw1 h3{
  width: 300px !important;
}
.withdraw1 p{
  width: 320px !important;
}
.withdraw2 h3{
  width: 300px !important;
}
.withdraw2 p{
  width: 320px !important;
}
.withdraw1 button{
  width: 280px !important;
}
.withdraw2 button{
  width: 280px !important;
  margin-top:65px !important ;
}
.hero2{
  width: 80% !important;
}
.Join-millions{
    width: 770px;
  }
.discover-container{
  height: 30vh !important;
}
   .discover2{
width: 340px !important;
height: 80px !important;
}
.discover3{
width: 340px !important;
height: 80px !important;
}
.discover4{
width: 340px !important;
height: 80px !important;
}
.discover5{
width: 340px !important;
height: 80px !important;
}
.discover1{
  padding-left: 130px !important;
 
}
.footer-wording{
  width: 700px !important;
}
.footer-wording2{
  width: 715px !important;
}
hr{
  width: 695px !important;
}


}

@media screen and (max-width:540px) {
    .link-buttons .sign-up{
    width: 85px;
  }
    .hero1{
  width: 540px;
 }
  .hero2{
    width: 80% !important;
    height: 500px !important;
  }
  .hero2 .button{
    top: 300px !important;
    left:50px !important ;

  }
  .payment-section{
    height: 600px !important;
  }
  .payment-section h1{
    width: 300px !important;
    
  }
  .payment-grids{
    overflow: hidden;
  }
    .payment-grids .grid3{
  height: 350px !important;
  width: 300px !important;
  margin-left: 120px !important;
}
.payment-grids .grid4{
   height: 350px !important;
  width: 300px !important;
}
.simplified1{
 
  width: 500px !important;
}
.simplified h2{
  width: 600px !important;
}
.simplified p{
  width: 450px !important;
  
}
.simplified2{
  margin-top: 450px !important;

}
.blue-section{
  align-items: center;
height: 750px !important;
  display: grid;
}
.blue1{
  
   width: 550px !important;
  height: 500px !important;
}
.blue1 img{
  width: 480px !important;
  height: 480px !important;
}
.blue2{
   width: 545px !important;
  height: 250px !important;

}
.blue2 h2{
  width: 300px !important;
}
 .safe-security{

height: 140vh !important;
 }
 .safe-security p{
  width: 400px !important;
  font-size: 15px !important;
 }
.safe-security .img-person{
  margin-top: 100px !important;
  height: 600px !important;
  width: 90vw !important;
  border-radius: 20px;
}
.withdraw-container{
  height: 110vh !important;
 
}
.withdraw-grids{
  grid-template-columns: auto !important;
  row-gap: 20px !important;
}
  .withdraw1{
  width: 490px !important;
  height: 230px !important;
  border-radius: 15px !important;
}
.withdraw2{
  width: 490px !important;
  height: 230px !important;
  border-radius: 15px !important;

}
.withdraw1 h3{
  width: 450px !important;
}
.withdraw1 p{
  width: 400px !important;
}
.withdraw2 h3{
  width: 450px !important;
}
.withdraw2 p{
  width: 400px !important;
}
.withdraw1 button{
  width: 320px !important;
}
.withdraw2 button{
  width: 340px !important;
  margin-top:15px !important ;
}
.Join-millions{
    width: 540px;
  }
  .discover2{
width: 380px !important;
height: 80px !important;
}
.discover3{
width: 380px !important;
height: 80px !important;
}
.discover4{
width: 380px !important;
height: 80px !important;
}
.discover5{
width: 380px !important;
height: 80px !important;
}
.discover1{
  padding-left: 225px !important;
}
.discover-container h3{
  font-size: 23px !important;
}

.discover-container{
  height: 75vh !important;

}
.discover-grids{
  grid-template-columns: auto !important;
}
.discover2{
margin-left: 0px !important;
width: 500px !important;

}
.discover3{
  width: 500px !important;
}
.discover4{
  margin-left: 0px !important;
  width: 500px !important;

}
.discover5{
  width: 500px !important;
}
.footer{
  height: 65vh !important;
  padding-left: 35px !important;
}
.footer-wording{
 
  width: 480px !important;
  grid-template-columns: auto;
}
.footer-wording2{
  width: 420px !important;
  
}
.wording2{
  margin-right: auto !important;

  margin-left: -0px;
}
.wording2 img{
  margin-left: -10px !important;
}
hr{
  width: 460px !important;
}
.copyright{
  width: 450px !important;
 
}
}


@media screen and (max-width:430px) {
  .link-buttons .sign-up{
    width: 85px;
  }
  #humbuger-menu{
    margin-right: 25px ;
  }
     .hero1{
  width: 430px;
 }
  .hero2{
    width: 90% !important;
  }
  .hero2 .button{
    left: 20px !important;
  }
.payment-section h1{
  margin-left: 20px !important;
}
    .payment-grids .grid3{
  height: 350px !important;
  width: 300px !important;
  margin-left: 220px !important;
}
.payment-grids .grid4{
   height: 350px !important;
  width: 300px !important;
}

.simplified1{
 
  width: 400px !important;

}
.simplified h2{
  width: 250px !important;
}
.simplified p{
  width: 400px !important;
  
}
.blue1 img{
  width: 400px !important;
  height: 400px !important;
  margin-left: 10px;
}.blue1{
  
   width: 420px !important;
  height: 500px !important;
}

.blue2{
   width: 430px !important;
  height: 250px !important;

}
.blue2 p{
 
  width: 300px !important;
}
.safe-security{
  height: 100vh !important;
  width: 100vw !important;

}
.safe-security h2{
  width: 400px !important;
}
.safe-security p{
  width: 300px !important;
}
.safe-security .img-person{
  height: 500px !important;
  width: 95vw !important;
 
}
.withdraw-container{
  height: 110vh !important;
 
}
.withdraw-grids{
  grid-template-columns: auto !important;
  row-gap: 20px !important;
}
  .withdraw1{
  
  width: 420px !important;
  height: 230px !important;
  border-radius: 15px !important;
}
.withdraw2{

  width: 420px !important;
  height: 230px !important;
  border-radius: 15px !important;

}
.withdraw1 h3{
  width: 400px !important;
}
.withdraw1 p{
  width: 350px !important;
}
.withdraw2 h3{
  width: 380px !important;
}
.withdraw2 p{
  width: 350px !important;
}
.withdraw1 button{
  width: 320px !important;
}
.withdraw2 button{
  width: 340px !important;
  margin-top:15px !important ;
}
.Join-millions{
    width: 430px;
  }

.Join-millions h2{
  width: 300px !important;
}
.Join-millions p{
width: 300px !important;
}
  .discover2{
width: 380px !important;
height: 80px !important;

}
.discover3{
width: 380px !important;
height: 80px !important;
}
.discover4{
width: 380px !important;
height: 80px !important;
}
.discover5{
width: 380px !important;
height: 80px !important;
}
.discover1{
  padding-left: 285px !important;
}
.discover-container h3{
  font-size: 23px !important;
  width: 300px !important;
}
.discover-container{
  height: 60vh !important;
}
.footer{
height: 80vh !important;
}
.footer-wording{
  line-height: 40px !important;
  width: 390px !important;
}
.wording1{
  width: 400px !important;
}
hr{
  width: 350px !important;
}
.footer-wording2{
  width: 390px !important;
  
}
.wording3{
  width: 400px !important;
  line-height: 40px !important;

}
.copyright{
  margin-top: 110px !important;
  
  width: 350px !important;
}
}

@media screen  and (max-width:412px) {
      .hero1{
  width: 400px;
 }
 .hero2{
    width: 90% !important;
  }

.payment-grids .grid3{
  margin-left: 240px !important;

}
.payment-section h1{
  margin-left: 18px !important;
}
.blue1 img{
  width: 400px !important;
  height: 400px !important;
  margin-left: 10px;
}.blue1{
  
   width: 400px !important;
  height: 500px !important;
}

.blue2{
   width: 410px !important;
  height: 250px !important;

}
.safe-security{
  width: 100vw !important;
 
}
.safe-security h2{


width: 400px !important;
}
.safe-security p{


}
.safe-security button{

}
.safe-security .img-person{
  height: 500px !important;
  width: 90vw !important;

}
  .withdraw1{
  
  width: 390px !important;
  height: 230px !important;
  border-radius: 15px !important;
 
}
.withdraw2{

  width: 390px !important;
  height: 230px !important;
  border-radius: 15px !important;

}
.withdraw1 h3{
  width: 400px !important;
  margin-left: 20px !important;
}
.withdraw1 p{
  width: 350px !important;
  margin-left: 20px !important;
}
.withdraw2 h3{
  width: 380px !important;
  margin-left: 20px !important;
}
.withdraw2 p{
  width: 350px !important;
  margin-left: 20px !important;
}
.withdraw1 button{
  width: 320px !important;
  margin-left: 20px !important;
}
.withdraw2 button{
  width: 340px !important;
  margin-top:15px !important ;
  margin-left: 20px !important;
}
.footer-wording2{
  width: 370px !important;
  
}
.footer-wording{
  width: 370px !important;
}
}

@media screen and (max-width:390px) {
      .hero1{
  width: 380px;
 }
 .hero2{
    width: 90% !important;
  }
  .hero2 .button{
    left: 10px !important;
  }
  .payment-grids .grid3{
  margin-left: 260px !important;

}
.payment-section h1{
  margin-left: 18px !important;
}
.blue1 img{
  width: 400px !important;
  height: 400px !important;
  margin-left: -20px;
}.blue1{
  
   width: 380px !important;
  height: 500px !important;
}

.blue2{
   width: 390px !important;
  height: 250px !important;

}

.simplified p{
  width: 360px !important;
  
}
.safe-security{
  height: 100vh !important;


}
.safe-security h2{
  width: 380px !important;
}

.safe-security .img-person{
  height: 450px !important;
  width: 90vw !important;
 
}
  .withdraw1{
 
  width: 360px !important;
  height: 230px !important;
  border-radius: 15px !important;
 height: 250px !important;
}
.withdraw2{

  width: 360px !important;
  height: 230px !important;
  border-radius: 15px !important;
height: 250px !important;
}
.withdraw1 h3{
  width: 320px !important;
  margin-left: 20px !important;
}
.withdraw1 p{
  width: 300px !important;
  margin-left: 20px !important;
  
}
.withdraw2 h3{
  width: 320px !important;
  margin-left: 20px !important;
}
.withdraw2 p{
  width: 250px !important;
  margin-left: 20px !important;
}
.Join-millions{
    width: 380px;
  }
  .discover2{
width: 360px !important;
height: 80px !important;

}
.discover3{
width: 360px !important;
height: 80px !important;
}
.discover4{
width: 360px !important;
height: 80px !important;
}
.discover5{
width: 360px !important;
height: 80px !important;
}
.discover1{
  padding-left: 295px !important;
}
.footer-wording2{
  width: 350px !important;
  
}
.footer-wording{
  width: 350px !important;
}
hr{
  width: 330px !important;
}
.copyright{
  width: 330px !important;
}

}

@media screen and (max-width:376px) {
  .hero1{
    width: 370px;
  }
  .hero2 .button{
    left: 0px !important;
  }
    .payment-grids .grid3{
  margin-left: 270px !important;

}
.payment-section h1{
  margin-left: 18px !important;
}

.simplified p{
  width: 340px !important;
  
}
.simplified1{
  width: 100vw !important;
}

.blue-section{
  align-items: center;
height: 630px !important;
  display: grid;
}
.blue1 img{
  width: 300px !important;
  height: 300px !important;
  margin-left: -20px;
}.blue1{
  
   width: 360px !important;
  height: 300px !important;
}

.blue2{
   width: 360px !important;
  height: 250px !important;

}
.safe-security{
  height: 140vh !important;

}

.withdraw-container{
  height: 140vh !important;
}
.discover2{
width: 360px !important;
height: 80px !important;

}
.discover3{
width: 360px !important;
height: 80px !important;
}
.discover4{
width: 360px !important;
height: 80px !important;
}
.discover5{
width: 360px !important;
height: 80px !important;
}
.discover1{
  padding-left: 300px !important;
}
.discover-container h3{
  font-size: 23px !important;
  width: 300px !important;
}
.discover-container{
  height: 80vh !important;
}
.footer{
  height: 90vh !important;
}
.footer-wording{
  
  width: 330px !important;
}
.footer-wording2{
  
  width: 330px !important;
}

}