*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PayPalOpen, "Helvetica", Arial, sans-serif;
}


  


.navbar{
   position: relative;
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-bottom: 1px solid rgb(223, 221, 221);
  align-items: center;
}
.navbar img{
  height: 35px;
  width: 35px;
  margin-left: 260px;
}

.navbar ul{
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar ul li{
  
  padding-bottom: 22px;
  padding-top: 22px;
}
.navbar .list1{
  margin-left: 20px;
}

.navbar ul li a{
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #001c64;
  font-size: 15px;
  font-weight: normal;

}
.navbar ul li:hover > a {
  font-weight: bolder;
  
}
.navbar ul li  i{
  color: #001c64;
  font-size: 9px;
  font-weight: bolder;
    text-shadow: 0 0 1px #001c64;
  margin-left: 5px;
 transition: 0.3s ease;
}

.navbar ul li:hover i {
  transform: rotate(-180deg);
}
  


.link-buttons{

  display: flex;
  margin-left: auto;
  gap: 10px;
 
  margin-right: 250px;
}
.link-buttons .log-in{
  width: 110px;
  height: 50px;
  border-radius: 50px;
  background-color: transparent;
  border: 2px solid #003087;
  color: #003087;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s ease;
}
.link-buttons .log-in:hover{
  border: 2px solid #0070e0;
  color: #0070e0;

}
.link-buttons .sign-up{
  width: 140px;
  height: 50px;
  border-radius: 50px;
  background-color: #003087;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s ease;
}
.link-buttons .sign-up:hover{
  background-color: #0070e0;
}

 .dropdown {
     
      position: absolute;
      top: 100%;
      width: 100vw;
      height: 0;
      z-index: 1000;
      left: 0;
      
      color: #333;
      padding:0 20px;
      overflow: hidden;
      transform-origin: top;
      transition:  height 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), 
                       padding 0.4s ease-out,
                       opacity 0.3s ease-out;;
      width: 100%;/* width of dropdown */
      opacity: 0;
      visibility: hidden;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);

      
 
     
    }

     nav ul li:hover .dropdown {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3-column grid */
      gap: 20px;
        height: 400px;
           padding: 40px 20px;
            opacity: 1;
            visibility: visible;
   
    }
      nav ul li:hover .dropdown,
    nav ul li .dropdown:hover {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      background-color: white;
    }

       nav ul li .dropdown:hover {
            height: 400px;
            padding: 40px 20px;
            opacity: 1;
            visibility: visible;
        }

    .dropdown .grid1{
     
      display: flex;
      flex-direction: column;
    
      margin-left: 225px;
      padding-left: 20px;
     width: 500px;
      transform: translateY(-20px);
            opacity: 0;
            transition: transform 0.3s ease-out 0.2s, opacity 0.3s ease-out 0.2s;
    }
    .grid1 h2{
      margin-top: 20px;
      color: #001c64;
      margin-left: 0px;
      font-size: 30px;
    }
    .grid1 h4{
      color: #001c64;
      font-weight: 700;
    }
    .grid1 hr{
      margin-top: 20px;
      width: 390px !important;
      border:none;
      height: 0.5px;
      background-color: rgb(223, 221, 221);
    }
    .grid1 button{
      display: flex;
      align-items: center;
      padding: 10px;
      border: none;
      margin-left: -10px;
      background-color: white;
      color: #001c64;
      font-size: 16px;
      width: 400px;
    
      
    }
.grid1 button:hover{
  border: 1px solid rgb(223, 221, 221);
  border-radius: 10px;
  color: #0070e0;
  font-weight: bolder;
}
.grid1 button i{
  display: none;


}
.grid1 button:hover i{
  display: flex;
  margin-left: auto;
  color: #0070e0;
  font-size: 15px;
  
}


.grid2{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-right: 200px ;
     transform: translateY(-20px);
            opacity: 0;
            transition: transform 0.3s ease-out 0.25s, opacity 0.3s ease-out 0.25s;

}

.grid2 button{
  background-color:#faf8f6;
  display:flex ;
  justify-content: space-between;
  align-items: center;
  color: #001c64;
  font-weight: 700;
  font-size: 15px;
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 250px;
  margin-left: auto;
  margin-right: 30px !important;
  transition: 0.3s ease;
}
.grid2 button:hover{
  background-color: transparent;
  border: 1px solid rgb(223, 221, 221);
  color: #0070e0;
  transform: scale(1.02);
}

.grid2 .get{
margin-top: 90px;
}


.grid2 .small-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c1dbf5;
  color: white;
  font-size: 11px;
  width: 20px;
  height: 20px;
  padding: 4px 8px;
  border-radius: 50px;
  cursor: pointer;
}
.small-btn i{
  padding-left: 20px !important;
  font-size: 15px !important;
  color: #0070e0 !important;
}
#humbuger-menu{
  display: none;
}

    nav ul li:hover .dropdown .grid1,
        nav ul li:hover .dropdown .grid2,
        nav ul li:hover .dropdown2 .grid1a,
        nav ul li:hover .dropdown2 .grid1b,
        nav ul li:hover .dropdown2 .grid2a {
            transform: translateY(0);
            opacity: 1;
        }



